## sandbox files
/.cabal-sandbox
/cabal.sandbox.config

*.o
*.p_o
*.hi
*~
/fixman_fixtures

# vim backup files
.*.swp
.*.swo

# Emacs files
.dir-locals.el

# build files files
/camfort
/dist
/.stack-work/
/dist-newstyle/
/camfort.project.freeze

# test files
/equiv.expected.f90

# Mac OS
.DS_Store
