*.o
*.p_o
*.hi
*~
/fixman_fixtures

# sandbox files
/.cabal-sandbox
/cabal.sandbox.config

# vim backup files
.*.swp
.*.swo

# Emacs files
.dir-locals.el

# build files files
/camfort
/dist
/.stack-work
/camfort.cabal

# test files
/equiv.expected.f90

# Mac OS
.DS_Store
