pre { 
  margin:1px;
  clear:both;
}

div.outer {
 clear:both;
}

div.spacer {
 float:left;
 clear:left;
}

div.annotation { 
  float:left;
  clear:right;
  border:solid 1px #ccc;
  background:#eee;
  padding:0px;
  font-size:9pt;
}

table {
  margin: 0px;
  padding: 0px;
}

p {
  margin:0px;
}

div.clickable {
  cursor:pointer;
}

div.clickable:hover {
  background-color:#fee;
}

div.annotation td { 
  font-family:sans;
  font-size:10pt;
  padding:1px;
  margin:0px;
}

div.number {
  margin:0px;
  left:0px;
  top:0px;
}